// Fonts
@import url('https://use.fontawesome.com/3406699ca6.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');
// Components
@import './components/navbar';

*,*::before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: blue;
    background-color: transparent;
}

ul {
    list-style: none;
}

h1 { font-size: 56px; }
h2 { font-size: 36px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    text-align: left;
}

.container {
    width: 100%;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

header {
    width: 100%;
    height: 100vh;
    padding-top: 8vh;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    &::after {
        content: ""; // ::before and ::after both require content
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #0575E6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        opacity: .8;
    }
    .container {
        display: grid;
        align-content: center;
        justify-content: center;
    }
    .title {
        font-family: 'Roboto', sans-serif;
        line-height: 1;
        color: white;
        position: relative;
        top: 30vh;
        left: 5%;
        z-index: 1020;
        span {
            font-size: 1.2rem;
        }
    }
   
 }